* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.outer-container {
  background-color: #EAF0F3;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px
}

.welcome-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.main-content {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}



.content-section {
  padding: 0px 80px;
}

.logo-container {
  text-align: center;
  padding-bottom: 30px;
}

.logo-circle {
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  display: block;
  width: 80px;
  height: 80px;
}



.welcome-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}


.secondary-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-logo-image {
  display: block;
  width: 180px;
  height: 180px;
}

.instruction-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #5E5E5E;
}

.instruction-section {
  padding-bottom: 15px;
  border-bottom: 1px solid #E5E5E5;
}

.instruction-text {
  font-size: 16px;
  line-height: 1.6;
}

.instruction-section-last {
  padding-bottom: 35px;
}

.button-container {
  text-align: center;
}

.button-link {
  background-color: #3490EC;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 40px;
  margin-bottom: 30px;
}

.button-link:hover {
  background: #226abb;
  transition: background 0.5s ease;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.social-container {
  margin-bottom: 15px;
}

.social-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: inherit;
}

.social-icon {
  display: block;
  margin-right: 8px;
}


.copyright {
  margin: 0 0 10px 0;
}

.brand-name {
  margin: 0;
  font-weight: bold;
}